<div class="container">
  <div class="row"> 
    <div class="col-sm-10">
      <div class="row">
        <% @posts.each do |post|  %>
        <div class="mb-2 col-sm-3 " >
          <div class="card " >
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <span class="card-text">
              <%= post.description %>
            </span>
            <h6>
              <%= post.category.name %>
            </h6>
            <div>
              <% post.tags.each do |tag| %>
              <span class="badge badge-primary"><%= tag.name %></span>
              <%end%>
            </div>
          </div>
        </div>
    </div>
    <%end%>
    </div>
  </div>
  <div class="col-sm-2">
    <h6>Categories</h6>
    <ul class="list-group">
      <li class="list-group-item">Rails</li>
      <li class="list-group-item">Ruby</li>
      <li class="list-group-item">CSs</li>
    </ul>
    
  </div>
</div>
</div>