<div class="container">
  <div class="row"> 
    <div class="col-sm-10">
      <div class="row">
       <% @posts.each do |post|  %>
        <%= render partial: 'post', locals: {post: post}  %>
       <% end%>
      </div>
   </div>
  </div>
</div>