<ul class="list-group">
  <% categories.each do |category| %>
    <li class="list-group-item">
      <%= link_to category.name, category_search_path(category.name.downcase) %>
    </li>
  <% end%>
</ul>